header {
    height: 8vh;
    background-color: pink;
}

.logo {
    margin-left: 7rem;
}

.logo img {
    max-height: 5rem;
    fill: pink;
}

.container {
    min-height: calc(100vh - 8vh);
}

.card {
    height: 100%;
}

/* BG COL */

.bg-header {
    background-color: #06131f;
}

.bg-main {
    background-color: #1d2d3c;
}

.bg-card {
    background-color: #112030;
}